.cvContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
    border:1px silver solid;
    box-sizing: border-box;
}
.container-right{
    border: 1px solid grey;
    width: 50%;
}
.container-left{
    /* border: 1px solid red; */
    width: 50%;
}
.text-area{
    margin-top: 2%;
}