body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
input{
    border-radius: 10px;
    width: 330px;
    height: 49px;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
    height: 50px;
    outline: none;
    border: 1px rgb(218, 211, 211) solid;
    background-color: none;
    box-sizing: border-box;
}
.form-input{
    align-items: center;
    justify-content: center;
    align-content: center;
}
button{
    width: 330px;
    height: 50px;
    border-radius: 5px;
    background-color: #363753;
    color: #5CD2C6;
    font-size: 15px;
    font-weight: 700px;
    box-sizing: border-box;
    border: none;
}
form{
    width: 600px;
    height: 600px;
    margin: auto;
    background-color: #ffffff;
    font-weight: 700px;
    box-sizing: border-box;
    font-size: 15px;
    padding-top: 35px;
    padding-left: 130px;
    box-shadow:4px 4px 22px 2px rgb(165, 164, 164);
}
h1{
    color: #5CD2C6;
    font-weight: 700px;
    font-size: 40px;
    margin: 0 auto;
    /* padding-left: 120px;
    padding-top: 40px;
    box-sizing: border-box;
    align-self: center;*/
}
.error-message{
    color: red;
    font-size: 15px;
    align-self: center;
    justify-self: center;
}